In [26]:
# Import pandas and numpy, DataFrame/Series
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

# Add items for matplotlib
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

#Read the contents of pizza_data.csv into a DataFrame
pizza = pd.read_csv("D:/IS362_Project2/Pizza Data/pizza_data.csv")

#Display the contents of pizza_data.csv DataFrame
pizza

,Company,Pizza Name,Type,Size,Price
0,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Small (10"")",5.99
1,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Medium (12"")",7.99
2,Domino's Pizza,Hand Tossed,Cheeses Pizza,"Large (14"")",9.99
3,Domino's Pizza,Handmade Pan,Cheeses Pizza,"Medium (12"")",7.99
4,Domino's Pizza,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",5.99
...,...,...,...,...,...
366,IMO's Pizza,BBQ Chicken Pizza,Specialty Pizzas,"X Large (16"")",23.85
367,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Small (10"")",11.80
368,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Medium (12"")",14.95
369,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"Large (14"")",18.65
370,IMO's Pizza,Egg-Ceptional Pizza,Specialty Pizzas,"X Large (16"")",22.30

In [27]:
# Drop any row that doesn't contain the value Domino's Pizza
dominos = pizza[pizza["Company"].str.contains("Pizza Hut|IMO's Pizza|Godfather's Pizza")==False]

dominos = dominos.drop(['Company'], axis=1)
    
#Display the updated DataFrame
dominos

,Pizza Name,Type,Size,Price
0,Hand Tossed,Cheeses Pizza,"Small (10"")",5.99
1,Hand Tossed,Cheeses Pizza,"Medium (12"")",7.99
2,Hand Tossed,Cheeses Pizza,"Large (14"")",9.99
3,Handmade Pan,Cheeses Pizza,"Medium (12"")",7.99
4,Crunchy Thin Crust,Cheeses Pizza,"Small (10"")",5.99
...,...,...,...,...
83,Ultimate Pepperoni Feast™ (Hand Tossed or Thin...,Feast Pizzas,"Small (10"")",11.99
84,"Ultimate Pepperoni Feast™ (Hand Tossed, Handma...",Feast Pizzas,"Medium (12"")",13.99
85,"Ultimate Pepperoni Feast™ (Hand Tossed, Thin C...",Feast Pizzas,"Large (14"")",15.99
86,Ultimate Pepperoni Feast™ (Brooklyn Style),Feast Pizzas,"X-Large (16"")",17.99
87,Ultimate Pepperoni Feast™ (Gluten Free Crust),Feast Pizzas,"Small (10"")",14.99

In [50]:
# Calculate the average price of each pizza based on Size
dom_price_avg = dominos.groupby(["Type","Size"])["Price"].mean()

# Display the average price of each pizza based on Size
dom_price_avg

Type              Size
Cheeses Pizza     Large (14")       9.99
                  Medium (12")      7.99
                  Small (10")       6.99
                  X-Large (16")    11.99
Feast Pizzas      Large (14")      15.99
                  Medium (12")     14.49
                  Small (10")      13.49
                  X-Large (16")    17.99
Specialty Pizzas  Large (14")      15.99
                  Medium (12")     13.99
                  Small (10")      13.49
                  X-Large (16")    17.99
Name: Price, dtype: float64

In [55]:
# Calculate the lowest price for each pizza by size
dom_size_lowest = dominos.groupby(["Size"])["Price"].min()

# Display the lowest price for each pizza by size
dom_size_lowest

Size
Large (14")       9.99
Medium (12")      7.99
Small (10")       5.99
X-Large (16")    11.99
Name: Price, dtype: float64

In [58]:
# Calculate the lowest price for each pizza by type
dom_type_lowest = dominos.groupby(["Type"])["Price"].min()

# Display the lowest price for each pizza by type
dom_type_lowest

Type
Cheeses Pizza        5.99
Feast Pizzas        11.99
Specialty Pizzas    11.99
Name: Price, dtype: float64

In [59]:
# Calculate the highest price for each pizza by size
dom_size_highest = dominos.groupby(["Size"])["Price"].max()

# Display the higest price for each pizza by size
dom_size_highest

Size
Large (14")      15.99
Medium (12")     15.49
Small (10")      14.99
X-Large (16")    17.99
Name: Price, dtype: float64

In [60]:
# Calculate the highest price for each pizza by type
dom_type_highest = dominos.groupby(["Type"])["Price"].max()

# Display the hightest price for each pizza by type
dom_type_highest

Type
Cheeses Pizza       11.99
Feast Pizzas        17.99
Specialty Pizzas    17.99
Name: Price, dtype: float64

In [81]:
# Drop any row that doesn't contain the value Pizza Hut's Pizza
Pizza_Hut = pizza[pizza["Company"].str.contains("Domino's Pizza|IMO's Pizza|Godfather's Pizza")==False]

Pizza_Hut = Pizza_Hut.drop(['Company'], axis=1)
    
#Display the updated DataFrame
Pizza_Hut

                              Pizza Name                Type      Size  Price
88                           Hand-Tossed        Cheese Pizza    Medium   8.49
89                           Hand-Tossed        Cheese Pizza     Large  10.49
90                             Pan Pizza        Cheese Pizza  Personal   4.29
91                             Pan Pizza        Cheese Pizza    Medium   8.49
92                             Pan Pizza        Cheese Pizza     Large  10.49
..                                   ...                 ...       ...    ...
209   Skinny With A Kick™ (Skinny Slice)       Skinny Pizzas     Large  15.49
210          Skinny Italy (Skinny Slice)       Skinny Pizzas     Large  15.49
211          Skinny Luau™ (Skinny Slice)       Skinny Pizzas     Large  15.49
212          Skinny Club™ (Skinny Slice)       Skinny Pizzas     Large  15.49
213  Create Your Own (Gluten-Free Crust)  Gluten-Free Pizzas     Small   9.99

[126 rows x 4 columns]

In [62]:
# Calculate the average price of each pizza based on Size
PizHut_price_avg = Pizza_Hut.groupby(["Type","Size"])["Price"].mean()

# Display the average price of each pizza based on Size
PizHut_price_avg

Type                   Size
Cheese Pizza           Large       10.89
                       Medium       8.49
                       Personal     4.29
Classic Recipe Pizzas  Large       16.09
                       Medium      12.69
                       Personal     4.89
Gluten-Free Pizzas     Small        9.99
New Recipe Pizzas      Large       15.49
                       Medium      12.49
                       Personal     4.79
Skinny Pizzas          Large       15.49
Name: Price, dtype: float64

In [63]:
# Calculate the lowest price for each pizza by size
PizHut_size_lowest = Pizza_Hut.groupby(["Size"])["Price"].min()

# Display the lowest price for each pizza by size
PizHut_size_lowest

Size
Large       10.49
Medium       8.49
Personal     4.29
Small        9.99
Name: Price, dtype: float64

In [64]:
# Calculate the lowest price for each pizza by type
PizHut_type_lowest = Pizza_Hut.groupby(["Type"])["Price"].min()

# Display the lowest price for each pizza by type
PizHut_type_lowest

Type
Cheese Pizza              4.29
Classic Recipe Pizzas     4.79
Gluten-Free Pizzas        9.99
New Recipe Pizzas         4.79
Skinny Pizzas            15.49
Name: Price, dtype: float64

In [74]:
# Calculate the highest price for each pizza by size
PizHut_size_highest = Pizza_Hut.groupby(["Size"])["Price"].max()

# Display the higest price for each pizza by size
PizHut_size_highest

Size
Large       18.49
Medium      13.49
Personal     5.29
Small        9.99
Name: Price, dtype: float64

In [73]:
# Calculate the highest price for each pizza by type
PizHut_type_highest = Pizza_Hut.groupby(["Type"])["Price"].max()

# Display the hightest price for each pizza by type
PizHut_type_highest

Type
Cheese Pizza             12.49
Classic Recipe Pizzas    18.49
Gluten-Free Pizzas        9.99
New Recipe Pizzas        15.49
Skinny Pizzas            15.49
Name: Price, dtype: float64

In [82]:
# Drop any row that doesn't contain the value Godfather's Pizza
godfather = pizza[pizza["Company"].str.contains("Domino's Pizza|Pizza Hut|IMO's Pizza")==False]

godfather = godfather.drop(['Company'], axis=1)
    
#Display the updated DataFrame
godfather

                                  Pizza Name               Type    Size  Price
214                  Cheese (Original Crust)       Cheese Pizza    Mini   4.99
215        Cheese (Original or Golden Crust)       Cheese Pizza   Small  10.99
216  Cheese (Original, Golden or Thin Crust)       Cheese Pizza  Medium  12.99
217              Cheese (Mozza-Loaded Crust)       Cheese Pizza  Medium  13.49
218  Cheese (Original, Golden or Thin Crust)       Cheese Pizza   Large  15.99
..                                       ...                ...     ...    ...
342           Original, Golden or Thin Crust  Express Favorites  Medium  15.34
343                       Mozza-Loaded Crust  Express Favorites  Medium  15.24
344           Original, Golden or Thin Crust  Express Favorites   Large  18.69
345                       Mozza-Loaded Crust  Express Favorites   Large  18.74
346                   Original or Thin Crust  Express Favorites   Jumbo  21.99

[133 rows x 4 columns]

In [76]:
# Calculate the average price of each pizza based on Size
godfath_price_avg = godfather.groupby(["Type","Size"])["Price"].mean()

# Display the average price of each pizza based on Size
godfath_price_avg

Type                Size
Cheese Pizza        Jumbo     18.990000
                    Large     16.240000
                    Medium    13.240000
                    Mini       4.990000
                    Small     10.990000
Express Favorites   Jumbo     21.990000
                    Large     18.715000
                    Medium    15.290000
                    Mini       4.990000
                    Small     12.690000
Gluten-Free Pizzas  Large     23.990000
                    Medium    19.990000
Specialty Pizzas    Jumbo     28.552500
                    Large     24.882778
                    Medium    20.837222
                    Mini       5.990000
                    Small     16.225294
Name: Price, dtype: float64

In [77]:
# Calculate the lowest price for each pizza by size
godfath_size_lowest = godfather.groupby(["Size"])["Price"].min()

# Display the lowest price for each pizza by size
godfath_size_lowest

Size
Jumbo     18.99
Large     13.99
Medium     9.99
Mini       4.99
Small     10.99
Name: Price, dtype: float64

In [78]:
# Calculate the lowest price for each pizza by type
godfath_type_lowest = godfather.groupby(["Type"])["Price"].min()

# Display the lowest price for each pizza by type
godfath_type_lowest

Type
Cheese Pizza           4.99
Express Favorites      4.99
Gluten-Free Pizzas    19.99
Specialty Pizzas       5.99
Name: Price, dtype: float64

In [79]:
# Calculate the highest price for each pizza by size
godfath_size_highest = godfather.groupby(["Size"])["Price"].max()

# Display the higest price for each pizza by size
godfath_size_highest

Size
Jumbo     29.99
Large     27.99
Medium    22.49
Mini       5.99
Small     16.99
Name: Price, dtype: float64

In [80]:
# Calculate the highest price for each pizza by type
godfath_type_highest = godfather.groupby(["Type"])["Price"].max()

# Display the hightest price for each pizza by type
godfath_type_highest

Type
Cheese Pizza          18.99
Express Favorites     21.99
Gluten-Free Pizzas    23.99
Specialty Pizzas      29.99
Name: Price, dtype: float64

In [84]:
# Drop any row that doesn't contain the value IMO's Pizza
imo = pizza[pizza["Company"].str.contains("Domino's Pizza|Pizza Hut|Godfather's Pizza")==False]

imo = imo.drop(['Company'], axis=1)
    
#Display the updated DataFrame
imo

              Pizza Name              Type           Size  Price
347         Deluxe Pizza  Specialty Pizzas    Small (10")  12.70
348         Deluxe Pizza  Specialty Pizzas   Medium (12")  16.20
349         Deluxe Pizza  Specialty Pizzas    Large (14")  19.95
350         Deluxe Pizza  Specialty Pizzas  X Large (16")  23.85
351         Veggie Pizza  Specialty Pizzas    Small (10")  12.70
352         Veggie Pizza  Specialty Pizzas   Medium (12")  16.20
353         Veggie Pizza  Specialty Pizzas    Large (14")  19.95
354         Veggie Pizza  Specialty Pizzas  X Large (16")  23.85
355         Cheese Pizza  Specialty Pizzas    Small (10")   9.30
356         Cheese Pizza  Specialty Pizzas   Medium (12")  11.60
357         Cheese Pizza  Specialty Pizzas    Large (14")  14.45
358         Cheese Pizza  Specialty Pizzas  X Large (16")  17.35
359       All Meat Pizza  Specialty Pizzas    Small (10")  12.70
360       All Meat Pizza  Specialty Pizzas   Medium (12")  16.20
361       All Meat Pizza  Specialty Pizzas    Large (14")  19.95
362       All Meat Pizza  Specialty Pizzas  X Large (16")  23.85
363    BBQ Chicken Pizza  Specialty Pizzas    Small (10")  12.70
364    BBQ Chicken Pizza  Specialty Pizzas   Medium (12")  16.20
365    BBQ Chicken Pizza  Specialty Pizzas    Large (14")  19.20
366    BBQ Chicken Pizza  Specialty Pizzas  X Large (16")  23.85
367  Egg-Ceptional Pizza  Specialty Pizzas    Small (10")  11.80
368  Egg-Ceptional Pizza  Specialty Pizzas   Medium (12")  14.95
369  Egg-Ceptional Pizza  Specialty Pizzas    Large (14")  18.65
370  Egg-Ceptional Pizza  Specialty Pizzas  X Large (16")  22.30

In [88]:
# Calculate the average price of each pizza based on Size
imo_price_avg = imo.groupby(["Size"])["Price"].mean()

# Display the average price of each pizza based on Size
imo_price_avg

Size
Large (14")      18.691667
Medium (12")     15.225000
Small (10")      11.983333
X Large (16")    22.508333
Name: Price, dtype: float64

In [90]:
# Calculate the lowest price for each pizza by size
imo_size_lowest = imo.groupby(["Size"])["Price"].min()

# Display the lowest price for each pizza by size
imo_size_lowest

Size
Large (14")      14.45
Medium (12")     11.60
Small (10")       9.30
X Large (16")    17.35
Name: Price, dtype: float64

In [95]:
# Calculate the lowest price for each pizza by pizza name
imo_type_lowest = imo.groupby(["Pizza Name"])["Price"].min()

# Display the lowest price for each pizza by type
imo_type_lowest

Pizza Name
All Meat Pizza         12.7
BBQ Chicken Pizza      12.7
Cheese Pizza            9.3
Deluxe Pizza           12.7
Egg-Ceptional Pizza    11.8
Veggie Pizza           12.7
Name: Price, dtype: float64

In [92]:
# Calculate the highest price for each pizza by size
imo_size_highest = imo.groupby(["Size"])["Price"].max()

# Display the higest price for each pizza by size
imo_size_highest

Size
Large (14")      19.95
Medium (12")     16.20
Small (10")      12.70
X Large (16")    23.85
Name: Price, dtype: float64

In [96]:
# Calculate the highest price for each pizza by pizza name
imo_type_highest = imo.groupby(["Pizza Name"])["Price"].max()

# Display the hightest price for each pizza by type
imo_type_highest

Pizza Name
All Meat Pizza         23.85
BBQ Chicken Pizza      23.85
Cheese Pizza           17.35
Deluxe Pizza           23.85
Egg-Ceptional Pizza    22.30
Veggie Pizza           23.85
Name: Price, dtype: float64